<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex justify-content-between ">

    <div class="logo">
      <a href="index.html"><img src="assets/img/logo2_22_131457.png" alt="" class="img-fluid"></a>

    </div>

    <div id="navbar-sticky-wrapper" class="sticky-wrapper" style="height: 29px;">
     <!--<nav id="navbar" class="navbar" style="width: 28px;">
     <ul>
        <li><a class="active" href="index.html"> Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
         <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="US.html">US Healthcare</a></li>
        <li><a href="Career.html">Career</a></li>


        <li><a href="contact.html">Contact Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>

      <div class="nav-button">
        <ul>
      </ul>
    </div>

    </nav>--></div>

  </div>
</header>
<!--<a href="https:/wa.me/919112100663" target="_blank" class="whatsapp_float "><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>-->

<section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-12 mx-auto">
        <h1 class="main-heading" style="text-align: center;">US HealthCare</h1>

        <h6 class="text-center">We provide Health care services</h6>

        <form method="get" class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
          <div class="input-group input-group-lg">
            <input name="keyword" type="search" class="form-control" id="keyword"
              placeholder="Medical-coding, Medical-billing, AR-calling ..." aria-label="Search">
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
<section class="featured-section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-4 col-12 mb-4 mb-lg-0">
        <div class="custom-block bg-white shadow-lg">
          <a href="topics-detail.html">
            <div class="d-flex">
              <div>
                <h5 class="mb-2">Medical Coding</h5>

                <p style="font-size: larger; color: #3f3d3d; text-align: justify; font-family: serif;  ">
                  Unlock the language of healthcare with precise medical coding, ensuring accurate documentation,
                  billing, and other eccential information</p>
              </div>
            </div>

            <img src="https://devconsoftware.com/assets/img/medical-coding-new.webp" class="custom-block-image img-fluid" alt="">
          </a>
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="custom-block custom-block-overlay">
          <div class="d-flex flex-column h-100">
            <img src="https://devconsoftware.com/assets/img/helthcare.jpeg" class="custom-block-image img-fluid" alt="">

            <div class="custom-block-overlay-text d-flex">
              <div>
                <h5 class="text-white mb-2">Medical-Billing</h5>

                <p style="font-size: larger; color: #fff; text-align: justify; font-family: serif;  ">
                  Billing process. The medical billing process is a process that involves a third party payer, which can
                  be an insurance company or the patient. Medical billing results in claims, which are billing invoices
                  for medical services rendered to patients.</p>
              </div>
            </div>
            <div class="social-share d-flex">
              <p class="text-white me-4">Links to know more about it:</p>

              <div class="social-icon" style="position: relative; margin-bottom: 30px; ">
                <li class="social-icon-item">
                  <a href="https://www.aapc.com" style="color: #fff; text-decoration: underline;">Medical-coding</a>
                </li>
                <br>
                <li class="social-icon-item">
                  <a href="https://www.pacificbpo.com/services/medical-billing"
                    style="color: #fff; text-decoration: underline;">Medical-Billing</a>
                </li>
                <br>
                <li class="social-icon-item">
                  <a href="https://www.pacificbpo.com/services/accounts-receivable-services"
                    style="color: #fff; text-decoration: underline;">AR-Calling</a>
                </li>
              </div>

            </div>

            <div class="section-overlay"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="services">
  <div class="container">

    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up">
        <div class="icon-box icon-box-cyan">
          <div class="icon" style="align-items: center;"><i class="bx bxs-phone" style="margin-left: 6px;"></i></div>
          <h4 class="title"><a href="">AR Caller</a></h4>
          <p class="description" style=" text-align: left; margin-top: 35px;font-family: sans-serif; line-height: 24px; ">
              </p><ul style="text-align: left; font-size: 17px; list-style-type: none;margin-right: 50px ; font-family: sans-serif; ">
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Data Security</li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Unpaid Insurance Claim <span style="margin-left: 30px;">Tracking</span></li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Track Electronic and Paper <span style="margin-left: 30px;">Claim</span></li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Patient's Collectible Handling</li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Generate AR Reports</li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Affordable AR Calling <span style="margin-left: 30px;"></span> </li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  HIPAA Compliant AR Calling <span style="margin-left: 30px;">Services</span></li>

              </ul>
          <p></p>
        </div>
      </div>


      <div class="col-md-6 col-lg-4 d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-notepad" style="margin-right: 3px;"></i></div>
          <h4 class="title"><a href="">Medical Coding</a></h4>
          <p class="description" style=" text-align: left; margin-top: 35px;">
              </p><ul style="text-align: left; font-size: 17px; list-style-type: none;margin-right: 50px ; font-family: sans-serif; ">
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  HCC Medical Coding <span style="margin-left: 30px;">Services</span></li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Risk Adjustment HCC Coding  <span style="margin-left: 30px;">Services</span></li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Medical Coding Audit <span style="margin-left: 30px;">Services</span></li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Medical Coding Analysis  <span style="margin-left: 30px;"></span></li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Submission of coded charts</li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Client Feedback</li>
                  <li style="margin-bottom: 18px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Documetation</li>

              </ul>
          <p></p>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-cyan">
          <div class="icon"><i class="bx bx-plus-medical"></i></div>
          <h4 class="title"><a href="">Medical Billing</a></h4>
          <p class="description" style=" text-align: left; margin-top: 35px;">
              </p><ul style="text-align: left; font-size: 17px; list-style-type: none;margin-right: 50px ; font-family: sans-serif; ">
                  <li style="margin-bottom: 29px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Physician Billing Services</li>
                  <li style="margin-bottom: 29px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Hospital Billing Services</li>
                  <li style="margin-bottom: 29px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Mental Health Billing Services</li>
                  <li style="margin-bottom: 29px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Chiropractic Billing Services</li>
                  <li style="margin-bottom: 29px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Ambulance Billing Services</li>
                  <li style="margin-bottom: 29px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Anesthesia Billing Services</li>
                  <li style="margin-bottom: 29px;color: black;"><i class="bx bx-check" style="margin-right: 10px;"></i>  Pathology Billing Services</li>

              </ul>
          <p></p>
        </div>
      </div>

    </div>

  </div>
  </section>
  <section>

    <img class="core-values-image lazyload" height="310px" width="400px" style="margin-bottom: 80px; margin-right: 180px;margin-left: 100px;" alt="Illustration of four hands holding the Slack logo." loading="lazy" src="https://devconsoftware.com/assets/img/ar_calling_services.jpeg">

    <div style="margin-left: 150px; text-align: left; margin-top: 5px;">

        <h1 class="main-heading">AR Calling</h1>
        <p style="font-size: larger; color: #3f3d3d; text-align: justify; font-family: serif;  ">
            Accounts Receivable (AR) calling is a critical component in the financial ecosystem of healthcare organizations.
            As a fundamental part of Revenue Cycle Management (RCM), AR calling involves reaching out to payers, insurance companies,
            or patients to ensure timely and accurate payment for the services rendered. Trained professionals in AR calling navigate
            through the complexities of claims processing, payment disputes, and reimbursement delays. Their expertise lies in effective
            communication, negotiation, and resolution of outstanding accounts. In an environment where timely cash flow is paramount, AR calling serves as the frontline defense
            against revenue interruptions
    </p>


    </div>

    <img alt="Illustration of a laptop, notepad, coffee mug and plants." class="lazyload" height="320px" width="400px" style="margin-bottom: 0px;margin-top: 150px; float: left; margin-left: 150px;" loading="lazy" src="https://devconsoftware.com/assets/img/medical-billing_calling.png">
    <div style="margin-left: 150px; text-align: left; margin-top: 170px; margin-left: 700px; margin-bottom: 150px;">
        <h1 class="main-heading">Medical Coding</h1>
        <p style="font-size: larger; color: #3f3d3d; text-align: justify; font-family: serif;  ">
            Medical Coding Services is a specialized function in the Revenue Cycle Management which involves healthcare providers, patients, payers and Physician administrative staff.
            Medical Coders work in tandem with billers to process accurate revenue codes on the basis of the clinical documentation maintained by the healthcare provider.
            The expertise of a certified and experienced Medical Coder is to ensure quick and denial-free reimbursement to the providers.
            Medical Coders play a crucial role in translating complex healthcare information into standardized codes,which are essential for billing processes effective communication among healthcare providers, payers, and administrative staff.
        </p>



    </div>


    <div>
        <img class="core-values-image lazyload" height="300px" width="400px" style="margin-bottom: 80px; margin-right: 180px; margin-left: 100px;" alt="Illustration of four hands holding the Slack logo." loading="lazy" src="https://devconsoftware.com/assets/img/medical-coding.jpeg">

        <div style="margin-left: 150px; text-align: left; margin-top:100px;">
            <h3 style="font-size: 32px; font-weight: 500; color:rgb(5, 55, 126)"></h3>
            <h1 class="main-heading">Medical Billing</h1>
            <p style="font-size: larger; color: #3f3d3d; text-align: justify; font-family: serif;  ">
            As healthcare reforms reshape the industry, medical billing services have become indispensable for practitioners.
            Facing challenges like increased denials and operating costs, reduced reimbursements, and complex coding requirements, these services act as vital allies.
            With impending reforms such as the Affordable Care Organization Concept, ICD-10 transition, and HIPAA 5010 compliance, experienced billing services ensure practitioners navigate the evolving landscape seamlessly.
            By handling intricate coding, compliance, and reimbursement optimization, these services empower healthcare providers to concentrate on industry transformations and their mission to provide excellent patient care.
            </p>

        </div>
    </div>


</section>







<footer id="custom-footer">

  <div class="custom-footer-top">
    <div class="custom-container">
      <div class="custom-row">

        <!-- Useful Links Section -->
        <div class="custom-col-lg-3 custom-col-md-6 custom-footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="index.html">Home</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="about.html">About us</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Services</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="US.html">US Healthcare</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="Career.html">Career</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Terms of Service</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Privacy Policy</a></li>
          </ul>
        </div>

        <!-- Services Section -->
        <div class="custom-col-lg-3 custom-col-md-6 custom-footer-services">
          <h4>Our Services</h4>
          <ul>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Web Development</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">App Development</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Outsourcing</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">UX Design</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Product Management</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Graphic Design</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">IoT Services</a></li>
            <li><i class="custom-bx custom-bx-chevron-right"></i> <a href="services.html">Digital Marketing</a></li>
          </ul>
        </div>

        <!-- Contact Section -->
        <div class="custom-col-lg-3 custom-col-md-6 custom-footer-contact">
          <h4>Contact Us</h4>
          <p>
            Office No. 4-B, Ganesham Commercial - A,<br>
            Survey No. 21/18-21/24, BRTS Road,<br>
            Pimple Saudagar, Pune- 411027<br><br>
            <strong>Phone:</strong> +91 9112100663<br>
            <strong>Email:</strong> hrdevconsoftware.com
          </p>
        </div>

        <!-- About Section -->
        <div class="custom-col-lg-3 custom-col-md-6 custom-footer-info">
          <h4>About Devcons Software Solutions Pvt. Ltd.</h4>
          <div>
            <a href="index.html">
              <img src="https://devconsoftware.com/assets/img/logo2_22_131457.png" alt="Devcons Logo" class="custom-img-fluid" style="height: 60px; width: 60px;">
            </a>
          </div>
          <p>Building Tomorrow's Technology, Today.</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="custom-container">
    <div class="custom-copyright">
      © 2024 <strong><span>Devcons Software Solutions Pvt. Ltd.</span></strong> All Rights Reserved
    </div>
  </div>

</footer>


  <a href="#" class="top-up" (click)="scrollToTop()">
    ↑ <!-- Replace this arrow with any text or simple icon -->
  </a>


